/* =========================
   APP
========================= */

.app-container {
    max-width: 1800px;
    margin: 0 auto;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 20px;
}

.page-content {
    flex: 1;
}

.content-layout {
    display: block;
}