{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{% block title %}Micro Social{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="app-container">

    {% include 'includes/header.html' %}

    <main class="page-content">
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

</div>

</body>
</html>